 /* Custom CSS */


/* Global transition rule for background-color */
* {

  transition: background-color 0.3s ease;
}


.card-header-divs {
        display: flex;
        justify-content: space-between;  /* Aligns items on both ends */
        align-items: center;  /* Centers items vertically in the header */
        width: 100%;  /* Ensures the header takes full width */
      }
      .header-title {
        flex-grow: 1;  /* Allows the title to take necessary space */
      }
      .header-right {
        display: flex;
        justify-content: flex-end;  /* Aligns the divs to the right */
        align-items: center;  /* Ensures divs are vertically centered within their container */
      }
      .header-div {
        margin: 0 2px;  /* Adjust or remove margin as needed */
      }



/*
Add hover-effect on all cards. This
has no specific use-case other
than looking cool
*/

.card {
  /* Initial card styles */
  will-change: transform, opacity;
  transition: transform 0.3s ease,
  background-color 0.3s ease;
  transform: scale(1); /* Initial scale */
}

/*
.card:hover {
  transform: scale(1.01);
}*/



 /* disable highligthing on the app */
html, body {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer/Edge */
        user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
      }


/*
.btn-transparent {
      background-color: transparent !important;
      border-color: transparent !important;
      color: currentColor !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;

    }
*/
.btn-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
  color: currentColor !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}




.clickable-card {
   width: 20vw; /* Set width as viewport-width dependent */
}

/* Elevated cards */
.clickable-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;

}



@media (max-width: 1920px) {
          .clickable-card {
            width: auto; /* Fixed width for smaller screens */
          }
        }







.options-card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.05);
        overflow: visible !important; transition: box-shadow 0.3s ease-in-out;
        z-index: 99999999999 !important;
      }

.options-card-body {
  position: relative;
  z-index: 9999999 !important;
  overflow: visible !important;
}

[data-bs-theme='dark'] .popover {
  --bs-popover-header-bg: var(--bs-primary) !important;
  color: white !important;
}

[data-bs-theme='light'] .popover {
  --bs-popover-header-bg: var(--bs-success) !important;
  color: white !important;
}


html .btn-close {
  --bs-btn-close-opacity: 1 !important;
  color: white !important;
}

[data-bs-theme='light'] .bttn {
  background-color: var(--bs-success) !important;
  color: white !important;
}

[data-bs-theme='dark'] .bttn {
  background-color: var(--bs-primary) !important;
  color: white !important;
}

.btn {
  --bs-btn-bg: transparent;
}

[data-bs-theme='light'] .btn {
  color: black !important;
  --bs-btn-border-color: var(--bs-border-color-translucent) !important;
}

[data-bs-theme='dark'] .btn {
  color: white !important;
  --bs-btn-border-color: var(--bs-border-color-translucent) !important;
}


.navbar {
  transition: background-color 0.3s ease;
}


[data-bs-theme='light'] .pagination {
  --bs-pagination-bg: var(--bs-success) !important;
}

[data-bs-theme='dark'] .pagination {
  --bs-pagination-bg: var(--bs-primary) !important;
}

[data-bs-theme='dark'] table.dataTable thead tr {
  --bs-table-bg: var(--bs-primary);
}


[data-bs-theme='light'] table.dataTable thead tr {
  --bs-table-bg: var(--bs-success);
}





[data-bs-theme='dark'] .btn-check:checked+.btn {
  background-color: var(--bs-primary) !important;
  border-color: transparent !important;
}

[data-bs-theme='light'] .btn-check:checked+.btn {
  background-color:  var(--bs-success) !important;
  border-color: transparent !important;
}
