 /* Custom CSS */


 /* disable highligthing on the app */
html, body {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer/Edge */
        user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
      }


/*
.btn-transparent {
      background-color: transparent !important;
      border-color: transparent !important;
      color: currentColor !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;

    }
*/
.btn-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
  color: currentColor !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}




/* Elevated cards */
.clickable-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}


.options-card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.05);
        overflow: visible !important; transition: box-shadow 0.3s ease-in-out;
        z-index: 99999999999 !important;
      }

.options-card-body {
  position: relative;
  z-index: 9999999 !important;
  overflow: visible !important;
}

/*
NOTE: This works but a new class is needed
to avoid affecting the remaining cards
see: https://stackoverflow.com/questions/78134389/how-to-allow-selectizeinput-in-bslib-to-overlap-card
*/

/*
.card-body{overflow: visible !important;}
.card{overflow: visible !important;}
*/
