 /* Custom CSS */


 /* disable highligthing on the app */
html, body {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer/Edge */
        user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
      }


/*
.btn-transparent {
      background-color: transparent !important;
      border-color: transparent !important;
      color: currentColor !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;

    }
*/
.btn-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
  color: currentColor !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}




/* Elevated cards */
.clickable-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}


.options-card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.05);
        overflow: visible !important; transition: box-shadow 0.3s ease-in-out;
        z-index: 99999999999 !important;
      }

.options-card-body {
  position: relative;
  z-index: 9999999 !important;
  overflow: visible !important;
}


[data-bs-theme='light'] .bttn {
  background-color: var(--bs-success) !important;
  color: white !important;
}

[data-bs-theme='dark'] .bttn {
  background-color: var(--bs-primary) !important;
  color: white !important;
}

.btn {
  --bs-btn-bg: transparent;
}

[data-bs-theme='light'] .btn {
  color: black !important;
  --bs-btn-border-color: var(--bs-border-color-translucent) !important;
}

[data-bs-theme='dark'] .btn {
  color: white !important;
  --bs-btn-border-color: var(--bs-border-color-translucent) !important;
}

/*
:root {
  --bs-primary: var(--bs-teal);
  --bs-border-color-translucent
}



/*
NOTE: This works but a new class is needed [data-bs-theme="dark"] .navbar.navbar-default {
    background-color: var(--bslib-navbar-default-bg, var(--bs-dark)) !important;
}
to avoid affecting the remaining cards
see: https://stackoverflow.com/questions/78134389/how-to-allow-selectizeinput-in-bslib-to-overlap-card
*/

/*
.card-body{overflow: visible !important;}
.card{overflow: visible !important;} var(--bslib-navbar-inverse-bg, var(--bs-dark)) !important
*/

